extends layout

block content 

    form(action="", method="post")
        label(for="passcode") Passcode:
        input(type="password" name="password", id="password")
        input(type="submit", value="Submit") 